body {
  margin: 0;
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


label {
  display: block;
}

input {
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 8px;
}

/*input[type="time"]::before {
  content: attr(placeholder);
}


input[type="date"]::before {
  content: attr(placeholder);

}
*/
span {
  display: block;
  color: orangered;
  font-size: x-small;
}

button {
  background-color: pink;
}